@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,800');
body {
    font-family: 'Nunito', sans-serif;
}

.background {
    overflow: hidden;
    position: relative;
    background: rgb(255, 183, 107);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 183, 107, 1) 0%, rgba(255, 167, 61, 1) 0%, rgba(249, 184, 77, 1) 0%, rgba(243, 137, 63, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 183, 107, 1) 0%, rgba(255, 167, 61, 1) 0%, rgba(249, 184, 77, 1) 0%, rgba(243, 137, 63, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 183, 107, 1) 0%, rgba(255, 167, 61, 1) 0%, rgba(249, 184, 77, 1) 0%, rgba(243, 137, 63, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#f3893f', GradientType=0);
    /* IE6-9 */
}

.background:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -12px;
    left: -2px;
    width: 101%;
    background-image: url(images/wave.svg);
    background-repeat: no-repeat;
    height: 29%;
    background-size: cover;
}

.bold {
    font-weight: 600;
}

.light {
    font-weight: 300;
}

.header {
    padding-top: 35px;
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 999;
}

.logo {
    max-width: 100px;
}

.header-button {
    background-color: Transparent;
    border-radius: 50px;
    border: 1px solid #fff;
    float: right;
    width: 210px;
    height: 51px;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    max-width: 140px;
    margin-top: -10px;
}

.header-button:hover {
    background-color: #fff;
    color: #F8B34B;
}

.hero {
    position: relative;
    z-index: 999;
}

.chat-screen {
    margin: auto;
    box-shadow: 4px 14px 28px #393939;
}

.hero-right {
    color: #fff;
    text-align: center;
}

.hero-button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #4E8BF9;
    border-radius: 50px;
    border: 1px solid #4E8BF9;
    width: 210px;
    height: 51px;
    color: white;
    margin: 30px auto;
}

.hero-button:hover{
    background-color: #4EACF9;
}

.header-headline {
    padding-top: 0;
    padding-bottom: 15px;
    text-align: center;
}

.header-running-text {
    text-align: center;
    max-width: 210px;
    margin: auto;
}

.right-box {
    display: none;
}

.left-box {
    display: none;
}

.bullets-section {
    background-color: #464646;
    padding-top: 40px;
    padding-bottom: 80px;
    z-index: 1;
    position: relative;
}

.bullets-container {
    max-width: 700px;
    margin: auto;
}

.bullet {
    text-align: center;
    padding: 30px;
}

.bullet-icon {
    background-color: white;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 4px 14px 28px #393939;
}

.bullet-head-text {
    color: white;
    padding-top: 15px;
}

.bullet-subtext {
    color: white;
    padding-top: 0;
}

.white-section {
    margin-right: 0;
    max-width: 1400px;
    margin: auto;
}

.ipad {
    position: relative;
    z-index: 2;
    transform: rotate(-10deg);
    max-width: 90%;
    border-radius: 38px;
    background: #fff;
    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, .25), 0 0px 33px rgba(0, 21, 64, .14), 0 10px 20px rgba(0, 21, 64, .05);
}

.ipad-screen {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 25px;
}

.icons {
    padding-top: 70px;
    padding-right: 0;
}

.icon-image {
    text-align: center;
}

.icon {
    display: block;
    padding-left: 0;
    padding-top: 0;
    height: 235px;
}

.icon-text {
    color: #6B7C93;
    padding-top: 20px;
    text-align: center;
    margin-right: 0;
    max-width: 320px;
    margin: auto;
}

.users-icon-headline {
    color: #4258E7;
}

.engage-icon-headline {
    color: #0D94C9;
}

.money-icon-headline {
    color: #3E4A58;
}

.users-icon-image {
    padding-top: 13px;
}

.grey-section {
    background-color: #F4F6FA;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 40px;
}

.grey-section-subtext {
    max-width: 200px;
    max-width: 250px;
    line-height: 22px;
    font-size: 15px;
    margin: auto;
}

.email-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-input {
    background-color: white;
    border-radius: 50px;
    border: 1px solid #fff;
    width: 210px;
    height: 51px;
    color: #808080;
    margin-top: 20px;
    border: none;
}

.submit-btn {
    background-color: #16D374;
    border-radius: 50px;
    color: #fff;
    height: 51px;
    width: 120px;
    margin-top: 20px;
    margin-left: 7px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.submit-btn:hover {
    background-color: #26E887;
    color: white;
}

#newsletter-spinner {
    display: none;
}

.footer {
    background-color: #464646;
    padding-top: 20px;
    padding-bottom: 20px;
}

.webscope-text {
    color: white;
    font-size: 12px;
    padding-right: 7px;
}

.webscope {
    text-align: center;
    margin-top: -5px;
}

.social-links {
    float: none;
    text-align: center;
    padding-top: 10px;
}

.social-link {
    margin-right: 15px;
}

.stripes, .stripe {
    position: absolute;
}

.stripes {
    width: 100%;
    height: 105%;
    overflow: hidden;
    transform: skewY(-10deg);
    transform-origin: 0;
}

.stripe:nth-child(1) {
    width: 33.33333%;
    bottom: 0;
    right: -16.66666%;
    background: rgba(245, 152, 70, 1);
    background: -moz-linear-gradient(left, rgba(245, 152, 70, 1) 0%, rgba(249, 194, 112, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245, 152, 70, 1)), color-stop(100%, rgba(249, 194, 112, 1)));
    background: -webkit-linear-gradient(left, rgba(245, 152, 70, 1) 0%, rgba(249, 194, 112, 1) 100%);
    background: -o-linear-gradient(left, rgba(245, 152, 70, 1) 0%, rgba(249, 194, 112, 1) 100%);
    background: -ms-linear-gradient(left, rgba(245, 152, 70, 1) 0%, rgba(249, 194, 112, 1) 100%);
    background: linear-gradient(to right, rgba(245, 152, 70, 1) 0%, rgba(249, 194, 112, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59846', endColorstr='#f9c270', GradientType=1);
}

.stripe:nth-child(2) {
    width: 33.33333%;
    bottom: 0;
    background: rgba(245, 150, 67, 1);
    background: -moz-linear-gradient(left, rgba(245, 150, 67, 1) 0%, rgba(249, 194, 112, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245, 150, 67, 1)), color-stop(100%, rgba(249, 194, 112, 1)));
    background: -webkit-linear-gradient(left, rgba(245, 150, 67, 1) 0%, rgba(249, 194, 112, 1) 100%);
    background: -o-linear-gradient(left, rgba(245, 150, 67, 1) 0%, rgba(249, 194, 112, 1) 100%);
    background: -ms-linear-gradient(left, rgba(245, 150, 67, 1) 0%, rgba(249, 194, 112, 1) 100%);
    background: linear-gradient(to right, rgba(245, 150, 67, 1) 0%, rgba(249, 194, 112, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f59643', endColorstr='#f9c270', GradientType=1);
}

.stripes span {
    height: 190px;
}

.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateX(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateX(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}
